@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #44556f;
    font-family: 'Poppins', sans-serif;
}

/* Header style */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000;
}

.menu-superior {
    width: 100%;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #fff;
}

.fa-cog {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #fff;
}

.settings {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Aside style */

.menu-aside {
    display: none;
}

.menu-lateral {
    width: 35%;
    height: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    float: left;
    background-color: #000;
}

.items-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.items-content {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.items-content a {
    text-decoration: none;
    color: #0000FF;
}

.items-content a::after {
    text-decoration: none;
    color:  #800080;
}

/* Main style */

.container-config {
    width: 80%;
    padding: 35px;
    margin-top: 30px;
    margin-left: 40px;
    background-color: antiquewhite;
}

.content-config {
    width: 100%;
    row-gap: 10px;
    display: flex;
    justify-content: flex-start;
}

.link {
    text-decoration: none;
    color: #0000FF;
}

.link::after {
    text-decoration: none;
    color: #800080;
}

.span {
    background-color: red;
}

.invisivel {
    display: none;
}

.visivel {
    width: 70vw;
    height: 120px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: gray;
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
}

.tema-content {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    row-gap: 10px;
}

.icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.fa-moon {
    width: 18px;
    height: 16px;
    color: #ffb600;
}

.fa-sun {
    width: 18px;
    height: 16px;
    color: #FFA500;
}