@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    background-color: #44556f;
}

.header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    background-color: red;
    position: fixed;
}

.menu-superior {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: hotpink;
    padding: 15px;

}

.menu {
    width: 16px;
    height: 16px;
}

.settings {
    display: flex;
    align-items: center;
    gap: 6px;
}

.settings i {
    width: 16px;
    height: 16px;
}

.menu-aside {
    display: none;
    float: left;
    width: 15%;
}

.visivel {
    display: block;
    float: left;
    width: 15%;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.items-menu {
    display: flex;
    row-gap: 10px;
}

.main-content {
    width: 100%;

}

.main-content h4 {
    color: #fff;
    margin-top: 15px;
}

.agendamento {
    width: 80%;
    height: 15%;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 8px;
}

.categorias {
    width: 50%;
    height: 150px;
    padding: 4px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.categorias img {
    width: 90px;
    height: 100px;
}

.categorias a {

    justify-content: flex-end;
}

.ignorar {
    width: 50%;
    height: 150px;
    padding: 4px;
    background-color: transparent;
    row-gap: 10px;
}

.comodidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    width: 100%;

}

.items-comodidade {
    gap: 3px;
    display: flex;
    flex-direction: row;
}