@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #44556f;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000;
}

.menu-superior {
    width: 100%;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #ffb600;
}

.fa-bars:hover {
    color: #fff;
}

.fa-cog {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #ffb600;
}

.fa-cog:hover {
    color: #fff;
}

.settings {
    display: flex;
    align-items: center;
    gap: 6px;
}

.menu-aside {
    display: none;
}

.menu-lateral {
    width: 35%;
    height: 345px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    float: left;
    background-color: #000;
}

.items-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.items-content {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.items-content a {
    text-decoration: none;
    color: #0000FF;
}

.items-content a:hover {
    color: #3366FF;
}

.items-content a::after {
    text-decoration: none;
    color:  #800080;
}

.troca-invisivel {
    display: none;
}

.troca-visivel {
    width: 180px;
    height: 110px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #fff;
}

.troca-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-moon {
    width: 18px;
    height: 16px;
    color: #ffb600;
}

.fa-moon:hover {
    color: #ffa500;
}

.fa-sun {
    width: 18px;
    height: 16px;
    color: #ffa500;
}

.fa-sun:hover {
    color: #ffb600;
}

.main-content {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.agendamento {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    background-color: rgba(30, 40, 60, 0.7);
}

.agendamento a {
    text-decoration: none;
    color: #0000FF;
}

.agendamento a:hover {
    color: #3366FF;
}

.agendamento a::after {
    text-decoration: none;
    color: #800080;
}

.container {
    width: 100%;
    height: 50vh;
    margin-top: 12px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.categorias {
    width: 40%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ccc;
}

.categorias a {
    text-decoration: none;
    color: #0000FF;
}

.categorias a:hover {
    color: #3366FF;
}

.categorias a::after {
    text-decoration: none;
    color: #800080;
}

.ignorar {
    width: 40%;
}

.categorias img {
    width: 70px;
    height: 80px;
}

.footer-content {
    width: 100%;
    height: 235px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    background-color: darkgray;
    padding: 4px;
}

.comodidades {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.items-comodidade {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.copright-section {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    color: #fff;
}

/* Tema light */

:root {
    /* header */

    --color-light-header: #ddd;
    --color-light-icons: gray;

    /* aside */

    --color-light-aside: #ddd;
    --color-light-link: #0074cc;
    --color-light-link-hover: #0014cc;
    --color-light-hover: darkgray;

    /* main */ 

    --color-light-agend: #bbbbbb;
    --color-light-categ: #888888;
    --color-light-img: #ccc;

    /* footer */

    --color-light-footer: #ddd;
    --color-light-comod: #000;
    --color-light-copyright: #000;
}

.dark {
    .header {
        color: var(--color-light-header);
    }
    .fa-bars, .fa-cog, .fa-moon, .fa-sun {
        color: var(--color-light-icons);
    }
    .fa-bars:hover, .fa-cog:hover, .fa-moon:hover, .fa-sun:hover {
        color: var(--color-light-hover);
    }
    .menu-lateral {
        color: var(--color-light-aside);
    }
    .categorias a {
        color: var(--color-light-link);
    }
    .categorias a:hover {
        color: var(--color-light-link-hover);
    }
    .agendamento {
        color: var(--color-light-agend);
    }
    .agendamento a {
        color: var(--color-light-link);
    }
    .agendamento a:hover {
        color: var(--color-light-link-hover);
    }
    .categorias {
        color: var(--color-light-categ);
    }
    .categorias img {
        color: var(--color-light-img);
    }
    .categorias a {
        color: var(--color-light-link);
    }
    .categorias a:hover {
        color: var(--color-light-link-hover);
    }
    .footer-content {
        color: var(--color-light-footer);
    }
    .comodidades p {
        color: var(--color-light-comod);
    }
    .copright-section {
        color: var(--color-light-copyright);
    }
}

@media (min-width: 768px) {
    .menu-aside {
        display: block;
    }

    .main-content {
        width: 70%;
        margin-left: 30%;
        padding: 40px;
    }

    .categorias, .ignorar {
        width: 48%;
    }
}