@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #44556f;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000;
}

.menu-superior {
    width: 100%;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #ffb600;
}

.fa-bars:hover {
    color: #fff;
}

.fa-cog {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #ffb600;
}

.fa-cog:hover {
    color: #fff;
}

.settings {
    display: flex;
    align-items: center;
    gap: 6px;
}

.menu-aside {
    display: none;
}

.menu-lateral {
    width: 25%;
    height: 436px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    float: left;
    background-color: #000;
}

.logo {
    width: 182px;
    height: 136px;
    margin-left: 36px;
    border-radius: 20%;
}

.items-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.items-content {
    height: 40px;
    width: 130px;
    margin-left: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.items-content a {
    text-decoration: none;
    color: #0000FF;
}

.items-content a:hover {
    color: #3366FF;
}

.items-content a::after {
    text-decoration: none;
    color: #800080;
}

.main {
    margin-bottom: 20px;
}

.servicos {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.servicos h1 {
    color: #3366FF;
}

.barberInfos {
    width: 100%;
    height: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}



.infos {
    width: 50%;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 16px;
}

.pic-name {
    width: 100%;
    height: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6px;
    row-gap: 4px;
}

.barberPic {
    width: 100px;
    height: 100px;
    border-radius: 15%;
}

.pic-name p {
    font-size: 18px;
    color: #000;
}

.star-sec {
    color: #ffb600;
    font-size: 20px;
}

.ver-mais {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px;
    background-color: rgba(30, 40, 60, 0.7);
    cursor: pointer;
    margin-bottom: 8px;
}

.ver-mais a {
    text-decoration: none;
    color: #fff;
}

.ver-mais:hover {
    background-color: #4a5c77;
}

.ver-mais a:hover {
    color: #3366FF;
}

.detalhes {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 20px;
}

.preco {
    width: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preco a {
    text-decoration: none;
    cursor: pointer;
    color: #888;
}

.preco a:hover {
    color: blue;
}

.more-info {
    margin-top: 16px;
    text-decoration: none;
    color: #888;
}

.more-info:hover {
    color: blue;
}


.footer-content {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 10px;
    /* margin-left: 62px; */
    justify-content: center;
    background-color: darkgray;
    padding: 10px;
}

.comodidades {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.items-comodidade {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.copright-section {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    color: #fff;
}